<div style="display: flex; flex-direction: row; max-height: 70vh; min-width: 50vw; margin-right: 18px;">



    <mat-selection-list #shoes [multiple]="false" style="width: 35vh;">
        <button mat-stroked-button color="primary" (click)="onAddNewMailboxClicked()">Add new Mailbox</button>

        <mat-divider style="margin-top: 16px;"></mat-divider>

        <mat-list-option *ngFor="let item of items" [value]="item" (click)="onEmailAdressSelected(item)">
            <span class="email">{{item.emailAddress}}</span>
        </mat-list-option>
    </mat-selection-list>

    <mat-divider [vertical]="true"></mat-divider>

    <div style="margin-left: 24px; display: flex; flex-direction: column; width: 100%;">

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>emailAddress</mat-label>
            <input type="text" matInput placeholder="my emailAddress" [(ngModel)]=selectedMalbox.emailAddress
                (ngModelChange)='onvalueChange($event)'>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Username</mat-label>
            <input type="text" matInput placeholder="my username" [(ngModel)]=selectedMalbox.userName
                (ngModelChange)='onvalueChange($event)'>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>imapUrl</mat-label>
            <input type="text" matInput placeholder="my imapUrl" [(ngModel)]=selectedMalbox.imapUrl
                (ngModelChange)='onvalueChange($event)'>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>imapUserName</mat-label>
            <input type="text" matInput placeholder="my imapUserName" [(ngModel)]=selectedMalbox.imapUserName
                (ngModelChange)='onvalueChange($event)'>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>imapPort</mat-label>
            <input type="text" matInput placeholder="my imapPort" [(ngModel)]=selectedMalbox.imapPort
                (ngModelChange)='onvalueChange($event)'>
        </mat-form-field>

        <button mat-stroked-button color="primary">Test settings</button>

        <mat-divider style="margin-top: 18px; margin-bottom: 18px;"></mat-divider>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>signature</mat-label>
            <input type="text" matInput placeholder="my signature" [(ngModel)]=selectedMalbox.signature
                (ngModelChange)='onvalueChange($event)'>
        </mat-form-field>

    </div>
</div>