.email {
    font-size: x-small;
}

.header {
    font-size: smaller;
}

.item {
    font-size: smaller;
    overflow: hidden;
    white-space: nowrap;
    /* Don't forget this one */
    text-overflow: ellipsis;
}