<div class="MainContainer">
    <div class="header">
        <app-mailactionsheader></app-mailactionsheader>
        <app-mailboxesheader></app-mailboxesheader>
    </div>
    <div class="ContentContainer">
        <nav class="navbar">
            <app-mailboxfolders></app-mailboxfolders>
        </nav>
        <div class="navbar">
            <app-foldercontent></app-foldercontent>
        </div>
        <div class="aside">
            <app-mailview></app-mailview>
        </div>
    </div>

    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>